ClienteServicoEstoqueV2/Connected Services/ServicoEstoqueV2/ServicoEstoqueV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoEstoqueV2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62422/ServiceV2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62422/ServiceV2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoEstoqueV2_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_AdcionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdcionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_AdcionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdcionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV2_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoEstoqueV2">
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV2/ConsultarEstoque" message="tns:IServicoEstoqueV2_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV2/ConsultarEstoqueResponse" message="tns:IServicoEstoqueV2_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdcionarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV2/AdcionarEstoque" message="tns:IServicoEstoqueV2_AdcionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV2/AdcionarEstoqueResponse" message="tns:IServicoEstoqueV2_AdcionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV2/RemoverEstoque" message="tns:IServicoEstoqueV2_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV2/RemoverEstoqueResponse" message="tns:IServicoEstoqueV2_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicoEstoqueV2" type="tns:IServicoEstoqueV2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarEstoque">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV2/ConsultarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdcionarEstoque">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV2/AdcionarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV2/RemoverEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoEstoqueV2">
    <wsdl:port name="BasicHttpBinding_IServicoEstoqueV2" binding="tns:BasicHttpBinding_IServicoEstoqueV2">
      <soap:address location="http://localhost:62422/ServiceV2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>