ClienteHostServicoEstoqueV1/Connected Services/ServicoEstoqueV1/ServicoEstoqueV1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoEstoqueV1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62422/ServiceV1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62422/ServiceV1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62422/ServiceV1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:62422/ServiceV1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProdutosV1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoEstoqueV1_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_RemoverProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProduto" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_RemoverProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_AdcionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdcionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_AdcionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdcionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_VerProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerProduto" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoqueV1_VerProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoEstoqueV1">
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/ListarProdutos" message="tns:IServicoEstoqueV1_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/ListarProdutosResponse" message="tns:IServicoEstoqueV1_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/IncluirProduto" message="tns:IServicoEstoqueV1_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/IncluirProdutoResponse" message="tns:IServicoEstoqueV1_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/RemoverProduto" message="tns:IServicoEstoqueV1_RemoverProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/RemoverProdutoResponse" message="tns:IServicoEstoqueV1_RemoverProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/ConsultarEstoque" message="tns:IServicoEstoqueV1_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/ConsultarEstoqueResponse" message="tns:IServicoEstoqueV1_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdcionarEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/AdcionarEstoque" message="tns:IServicoEstoqueV1_AdcionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/AdcionarEstoqueResponse" message="tns:IServicoEstoqueV1_AdcionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/RemoverEstoque" message="tns:IServicoEstoqueV1_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/RemoverEstoqueResponse" message="tns:IServicoEstoqueV1_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicoEstoqueV1/VerProduto" message="tns:IServicoEstoqueV1_VerProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicoEstoqueV1/VerProdutoResponse" message="tns:IServicoEstoqueV1_VerProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicoEstoqueV1" type="tns:IServicoEstoqueV1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProdutos">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/ListarProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/IncluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/RemoverProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/ConsultarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdcionarEstoque">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/AdcionarEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/RemoverEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <soap:operation soapAction="http://tempuri.org/IServicoEstoqueV1/VerProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoEstoqueV1">
    <wsdl:port name="BasicHttpBinding_IServicoEstoqueV1" binding="tns:BasicHttpBinding_IServicoEstoqueV1">
      <soap:address location="http://localhost:62422/ServiceV1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>